{% extends 'base.html.twig' %}

{% block title %}Список заказов{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <h1>Список заказов ✅</h1>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/shop/list/fruit">Фрукты</a></li>
            <li class="nav-item"><a class="nav-link" href="/shop/list/vegetables">Овощи</a></li>
        </ul>
        <main>
            {% for order in orders %}

                <td><br>заказ № <b>{{ order.id }}</b> имя покупателя <b>{{ order.userName }}</b><br></td>

                {% for carts in cart %}
                    {% if order.sessionId == carts.sessionId %}

                        <td><br>продукт - {{ carts.shopItem.title }} <br></td>

                    {% endif %}
                {% endfor %}
                <a href="/shop/order/delete/{{ order.id }}" type="button" class="btn btn-outline-primary">Удалить
                    заказ</a>

            {% endfor %}

        </main>
    </div>

{% endblock %}
